// Fonts
$avenir-black: 'Avenir-Black';
$avenir-book: 'Avenir-Book';
$avenir-heavy: 'Avenir-Heavy';
$avenir-medium: 'Avenir-Medium';
$acaslonpro-regular: 'ACaslonPro-Regular';

// Colors
$white: #fefefe;
$pink: #ffb48e;
$test: #ff5500;

// Breakpoints
$xxs: 20.063em; // = 321px
$xs: 23.5em; // = 376px
$sm: 36em; // = 576px
$md: 45em; // = 720px
$lg: 60em; // = 960px
$xl: 71.25em; // = 1140px
$xxl: 87.5em; // = 1400px
