@font-face {
  font-family: $avenir-black;
  src: url('/fonts/Avenir-Black.woff') format('woff');
}

@font-face {
  font-family: $avenir-medium;
  src: url('/fonts/Avenir-Medium.woff') format('woff');
}
